{% load crispy_forms_tags %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Welcome</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href={% url 'details' %}>Details Dashboard<span class="sr-only">(current)</span></a>
      </li>
      </ul>
</nav>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Sentiment ML API</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	<script src="https://cdn.zingchart.com/zingchart.min.js"></script>
	<div class = "mx-2 my-5">
		<table>
    <tr>
		<th>ID</th>
        <th>Input_sentiment</th>
		<th>Title</th>
        <th>Timestamp</th>
    </tr>
    {% for item in query_results %}
    <tr> 
        <td>{{ item.id }}</td>
		<td>{{ item.input_sentiment }}</td>
		<td>{{ item.title }}</td>
		<td>{{ item.timestamp }}</td>
        
    </tr>
    {% endfor %}
</table>
	</div>


{% endblock %}	
</body>
</html>


